# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# Build outputs
build/
**/build/

# IDE
.android/
.ios/
.vscode/
.idea/

# Web & desktop ephemeral
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/

# Xcode / CocoaPods
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec

# Gradle
android/.gradle/
android/app/build/

# Others
*.iml
*.lock.dart_tool
